services:
  serilog.destructuringpolicies.redactor.demoapp:
    image: ${DOCKER_REGISTRY-}serilogdestructuringpoliciesredactordemoapp
    build:
      context: .
      dockerfile: src/Serilog.DestructuringPolicies.Redactor.DemoApp/Dockerfile
    depends_on:
      - seq
    networks:
      - default

  seq:
    image: datalust/seq:latest
    ports:
      - "5341:80"
    environment:
      ACCEPT_EULA: "Y"
      SEQ_FIRSTRUN_NOAUTHENTICATION: "true"
    networks:
      - default

networks:
  default:
    name: serilog-destructuringpolicies-redactor-demoapp-net